<header>
  <h1 class="site-title"><a href="/">Vivai Lariani<br/><span style="font-size:0.8em">di Conti Davide</span></a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="/taxus.html"><i class="fa fa-leaf"></i>Taxus Baccata</a></li>
        <li><a href="/contatti.html"><i class="fa fa-info-circle"></i>Contatti</a></li>
      </ul>
    </div>
  </nav>
</header>
